---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <a class="text-4xl pb-20 block"  href="https://slaskie.eska.pl/protest-mieszkancow-gminy-lazy-spolecznosc-sprzeciwia-sie-budowie-osrodka-dla-imigrantow-aa-WQeR-N9Jw-yJuG.html">ESKA - Protest mieszkańców gminy Łazy. Społeczność sprzeciwia się budowie ośrodka dla imigrantów</a>


    <div class="grid grid-cols-2">


        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FWarwasRobert%2Fposts%2Fpfbid0nLnC5Vpi7w4kao1MBqEoiY5YpDdzbyhkhj1iCNQGFUiQtictKs3Ac3yyR2zoy3hil&show_text=true&width=500" width="500" height="729" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FWarwasRobert%2Fposts%2Fpfbid02J7igNHStRdQjWszaLnywJFdVLaEz4ntTd14c2E8EVio5FYjorzWLDRDr6Vre3EXkl&show_text=true&width=500" width="500" height="559" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

    <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FSluzbywakcji%2Fposts%2Fpfbid033ZCLEbYS5ACins1GEWZv6p6JyW6u6BwbpJqgBadQ1pcRVypjtQyVW35LGcLGQvc5l&show_text=true&width=500" width="500" height="572" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>


        <img src="https://scontent.fktw4-1.fna.fbcdn.net/v/t39.30808-6/491050604_1098607572076822_1683017392552223724_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=bd9a62&_nc_ohc=WaMboCglRaYQ7kNvwGKt_52&_nc_oc=Adk_wv0HwRy1TRkrnDSdn1huOp6XfQCVjSCbjd0q0auGJZ9rlTIxyajdAXdORI30IO4&_nc_zt=23&_nc_ht=scontent.fktw4-1.fna&_nc_gid=HXTRYqCWcqsZk-HyAdMHIg&oh=00_AfE-kWOnjyotESly-byhkDU0NQb_nm9Md1Cq35Ei9A69kA&oe=6805D5B1" />
    </div>
</Layout>