---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <!--<h1 class="text-green-500 text-4xl text-center">Jednogłośny sprzeciw</h1>-->

    <div class="grid lg:grid-cols-2">

        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FTarnogorski.info%2Fvideos%2F580111141115630%2F&show_text=false&width=476&t=0"
                width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                allowFullScreen="true"></iframe>

        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FTarnogorski.info%2Fvideos%2F2031007484055199%2F&show_text=false&width=476&t=0"
                width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                allowFullScreen="true"></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/5iq7mEnbWlU?si=Ui5GK0vmgOxSjQqn"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid02uT3ja9BjAUvbtuevZyS2yGa9utuze6zRfzz7CKbjPYmVuaJBaTTDAwkhYsFfUoFyl%26id%3D100071673645783&show_text=true&width=500"
                width="500" height="642" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

        <iframe width="560" height="315" src="https://www.youtube.com/embed/YDvPWZCrGTQ?si=IsG7Z5_dRipSWBM4"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Flazowianie%2Fposts%2Fpfbid02acwpefhVb1N6PYyz753FP3Z1PYBQ8kWZvTUKgraU33MP1oFsLD7Jdn1DSa6nWuDDl&show_text=true&width=500"
                width="500" height="548" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid0gQDqL5dm7SNc2v2FdbCWPorEBRy3vycYuF6NNEXE52r722MX8iE5sirTwgVLwZapl%26id%3D100009132447958&show_text=true&width=500"
                width="500" height="305" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid02gVF9UBTEPNNytTMQQn75t4JcxdUTZXUEEjGrzhaT4Je2FSC6c8hiiBnPeyhJLgAyl%26id%3D100071673645783&show_text=true&width=500"
                width="500" height="800" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FTarnogorski.info%2Fvideos%2F1177358826908446%2F&show_text=true&width=476&t=0"
                width="476" height="591" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
                allowFullScreen="true"></iframe>

        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3Dpfbid0cBbFr72bZhtSTwMQPfYLZ2BSYd5jACc1Xm5JLKQUpTmmuGob2KfRqvBbPGMHvsJNl%26id%3D100071673645783&show_text=true&width=500"
                width="500" height="787" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FGminaLazyOfficial%2Fposts%2Fpfbid0mgzZdNgguMyiMjLi9R1WUoqB6WLXjoWXtP77PYYrirUDWCwrMZoTdfunLUrCsDDEl&show_text=true&width=500"
                width="500" height="794" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>


        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Flazowianie%2Fposts%2Fpfbid0Pv62sivuEiZZmKWZJTnPjpGnh2BndKVNmJSL7soLjv44nXzgprJzyDPoKWkC5zgfl&show_text=true&width=500"
                width="500" height="450" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>
</Layout>