---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <h1 class="text-green-500 text-4xl text-center">Jednogłośny sprzeciw</h1>

    <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FTarnogorski.info%2Fvideos%2F575638041598238%2F&show_text=false&width=476&t=0" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

<img src="https://scontent.fktw4-1.fna.fbcdn.net/v/t39.30808-6/491603748_1334578101476894_1262224444952335671_n.jpg?stp=cp6_dst-jpg_tt6&_nc_cat=109&ccb=1-7&_nc_sid=127cfc&_nc_ohc=O8gLaBeYkH8Q7kNvwHDWVuT&_nc_oc=AdnZzxcEC_E_bVT4L13Onuc4rhke64TxFTJ_tIKgL3BZQ29TjcwqpydD5ldTy-N-_OY&_nc_zt=23&_nc_ht=scontent.fktw4-1.fna&_nc_gid=hZuRYeHIcCmALuH0DytxzQ&oh=00_AfEgwrS_dSuUSRncq536wpE0XuwWHYwff3md6s0Mqb1y6Q&oe=6805E9F6" />

</Layout>