---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <h1 class="text-red-500 text-4xl text-center">Poparcie dla budowy ośrodka</h1>
    <h1 class="text-red-500 text-4xl text-center mb-10 ">Ryszard Spyra - Burmistrz Gminy Poręba POPIERA!</h1>
    <div class="grid grid-cols-2">

        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Flazowianie%2Fposts%2Fpfbid0otDtbUx8T9qCJVQP8UkhKoLXxyF2jBLBNs9C4jL94vMuMWxqJDWPG8m4NoZRJHnQl&show_text=true&width=500" width="500" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FTarnogorski.info%2Fvideos%2F652703161023756%2F&show_text=false&width=476&t=0" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

        <iframe src="https://www.facebook.com/plugins/video.php?height=294&href=https%3A%2F%2Fwww.facebook.com%2Flazowianie%2Fvideos%2F1003925971336551%2F&show_text=false&width=560&t=0" width="560" height="294" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FTarnogorski.info%2Fvideos%2F691653453394397%2F&show_text=false&width=476&t=0" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FTarnogorski.info%2Fvideos%2F1177358826908446%2F&show_text=false&width=476&t=0" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FTarnogorski.info%2Fvideos%2F9516969831671956%2F&show_text=false&width=476&t=0" width="476" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

    </div>
</Layout>