---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <h1 class="text-red-500 text-4xl text-center">Brak oficjalnych informacji</h1>
    <h2 class="text-green-500 text-4xl text-center mb-10">Jerzy Janoska - przeciwny budowie</h2>

    <a class="text-4xl block mb-20" href="https://powiatzawiercianski.posiedzenia.pl/?">Transmisja online dostępna będzie na stronie internetowej</a>

    <div class="grid grid-cols-2">

        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fgabriel.dors%2Fposts%2Fpfbid034yYJsQcW4haq2n34TrK5VMMcXgnaSAppX9kAzKt3HdpAC6sXxJWGaKevgxdCf3pEl&show_text=true&width=500" width="500" height="800" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FZawiercianskie%2Fposts%2Fpfbid02ui1U97StU7q35m26mjikN2u2qRh7TcHYpdCv15SwiBwFy6LFfzGAmb2ziurNmA7rl&show_text=true&width=500" width="500" height="522" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>

        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FZawiercianskie%2Fposts%2Fpfbid035YCFmEvDVEdtJc5H7gqZEWBMyRQsSHNHPJtm8EAqcDDrgXUzUSpY1Bk2izgCVKqCl&show_text=true&width=500" width="500" height="547" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
    </div>

</Layout>