---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <div class="grid lg:grid-cols-2">

        <iframe width="560" height="315" src="https://www.youtube.com/embed/q08hPUPmnMQ?si=WhIWLs_ycsVRLp3M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>


        <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FTarnogorski.info%2Fvideos%2F1903615663712218%2F&show_text=true&width=476&t=0" width="476" height="591" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

    <iframe src="https://www.facebook.com/plugins/video.php?height=314&href=https%3A%2F%2Fwww.facebook.com%2Flazowianie%2Fvideos%2F565247076581226%2F&show_text=false&width=560&t=0" width="560" height="314" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share" allowFullScreen="true"></iframe>

    <iframe src="https://www.facebook.com/plugins/video.php?height=476&href=https%3A%2F%2Fwww.facebook.com%2FZawiercianska%2Fvideos%2F1737605856792975%2F&show_text=false&width=267&t=0"
            width="267" height="476" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
            allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"
            allowFullScreen="true"></iframe>


</div>

    <img src="https://scontent.fktw1-1.fna.fbcdn.net/v/t39.30808-6/492104073_1118940186939383_6621166160520646861_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=bd9a62&_nc_ohc=Tu1Wg6uQYBgQ7kNvwEsqHYV&_nc_oc=AdnK06aXYy1JxIjlyClhErtCwZoe5hMljW_8N1h8XEai-t60ZsOSFJRJbPAOu8UHy74&_nc_zt=23&_nc_ht=scontent.fktw1-1.fna&_nc_gid=ZtJq1jA_R-ze5GPTrZZPOg&oh=00_AfFeI9lhrUXk1YLxvL0zChCD2cYAOu0M6SyH8OpMDVNF2g&oe=6805D5E3" width="300">

</Layout>