---
import Layout from "../layouts/Layout.astro";
---
<Layout>

    <h1 class="text-red-500 text-4xl text-center">Brak oficjalnych informacji, prezydent, rada miasta nieudzieliła informacji</h1>

</Layout>