<nav class="bg-gray-800 mb-10">
    <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
        <div class="relative flex lg:h-16 items-center justify-between">
            <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                <div class="sm:ml-6 sm:block">
                    <div class="flex flex-col lg:flex-row space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="/" class="rounded-md bg-gray-900 px-3 py-2 text-sm font-medium text-white" aria-current="page">Home</a>
                        <a href="/powiat" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white" aria-current="page">Powiat Zawierciański</a>
                        <a href="/poreba" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Gmina Poręba</a>
                        <a href="/zawiercie" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Gmina Zawiercie</a>
                        <a href="/lazy" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Gmina Łazy</a>
                        <a href="/ogrodzieniec" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Gmina Ogrodzieniec</a>
                        <a href="/protest" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">Protest</a>
                        <a href="/internet" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">W internecie</a>

                        <a href="https://vod.tvp.pl/live,1/tvp-3-katowice,399743/2025-04-16/aktualnosci,2015230" class="rounded-md px-3 py-2 text-sm font-medium text-gray-300 hover:bg-gray-700 hover:text-white">TVP Katowice</a>

                    </div>
                </div>
            </div>
        </div>
    </div>


</nav>
